<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>{% block title %}Formulário{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon/favicon_tarrafa.ico')}}" type="image/x-icon">

    <!-- Aplicar hash às url -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') | hash_url }}">
</head>

<body>
    {% block content %}
    <!-- Início formulário -->
    <div class="container">
        {% if obrigar == 'nao' %}
        <form action="{{url_for('principal.controller_grad.finaliza_pendencia_docente_post')}}" method="post" class="my-3 needs-validation" id="formulario" novalidate>
            <div class="card border-danger mb-3" style="max-width: 60%;">
                <div class="card-body text-danger">
                  <h5 class="card-title">Atenção:</h5>
                  <p class="card-text">Caso prefira não responder a este formulário, basta clicar no botão abaixo:</p>
                  <input type="hidden" class="form-control" id="cpf" name="cpf" value="{{cpf}}">
                  <input type="hidden" class="form-control" id="tipo" name="tipo" value="{{tipo}}">
                  <button type="submit" class="btn btn-danger">NÃO QUERO RESPONDER !</button>
                  <p class="card-text" style="padding-top: 10px;">Com isso, você não verá mais o formulário nas próximas vezes. Contudo, considere responder, pois essas informações são importantes levando apenas alguns minutos para concluir.</p>
                </div>
            </div>
        </form>
        {% endif %}

        <form action="{{url_for('principal.controller_grad.formulario_post')}}" method="post" class="my-3 needs-validation" id="formulario" novalidate>
            <div>
                <div class="row align-items-center">
                    <div class="col" style="text-align: start;">
                        <img src="{{ url_for('static', filename='assets/img/icons/logo_pre.png')}}" height="120px" />
                    </div>
                    <div class="col" style="text-align: end;">
                        <img src="{{ url_for('static', filename='assets/img/icons/logo_tarrafa_grad_text.png') }}" height="50px" />
                        <img src="{{ url_for('static', filename='assets/img/backgrounds/img_fundo_form_2.png') }}" height="200px" />
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <h4>Olá!</h4>
                <p>Topa nos ajudar preenchendo este formulário? É rapidinho e suas informações serão mantidas em total sigilo.</p>
                <p>Sua contribuição é essencial para melhorarmos as políticas de inclusão social aqui na universidade.</p>
                <p>A sua resposta é única e super importante para nós!</p>
            </div>
           
            <div class="text-center mt-4">
                <p>
                    <span style="color:#da7f7f;font-size:0.8em">Atenção: caso esteja vendo este formulário novamente, significa que encontramos algum erro no preenchimento.</span>
                </p>
                <p>
                    <span style="color:#da7f7f;font-size:0.8em">Certifique-se de que o CPF, e-mail e RG digitados só pertençam a você.</span>
                </p>
            </div>
            <hr>

            <h5 class="text-black">I - DADOS PESSOAIS</h5>
            <hr>
            
            <div class="row mb-3">
                <div class="col-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>

                </div>
                <div class="col-6">
                    <label for="nomeSocial" class="form-label">Nome social (se houver)</label>
                    <input type="text" class="form-control" id="nomeSocial" name="nomeSocial">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" value="{{cpf}}" required readonly>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                    <span style="color:#da7f7f;font-size:0.7em">Campo único</span>
                </div>
                <div class="col-6">
                    <label for="rg" class="form-label">Identidade (RG)</label>
                    <input type="text" class="form-control" id="rg" name="rg" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                    <span style="color:#da7f7f;font-size:0.7em">Campo único</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="exemplo@[domínio].[TLD]" required>
                    <div class="invalid-feedback">
                        Insira um e-mail válido.
                    </div>
                    <span style="color:#da7f7f;font-size:0.7em">Campo único</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
                <div class="col-5">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" maxlength="30" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="estado" class="form-label">Estado (UF)</label>
                    <input type="text" class="form-control" id="estado" name="estado" maxlength="2" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <label for="logradouro" class="form-label">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" name="logradouro" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="numCasa" class="form-label">Nº (apenas o número)</label>
                    <input type="number" class="form-control" id="numCasa" name="numCasa" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório e deve ser um NÚMERO.
                    </div>
                </div>
                <div class="col-4">
                    <label for="complementoCasa" class="form-label">Compl. (ex.: casa A, apto 123, etc)</label>
                    <input type="text" class="form-control" id="complementoCasa" name="complementoCasa" maxlength="100" >
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="contato" class="form-label">Contato (celular)</label>
                    <input type="text" class="form-control" id="contato" name="contato" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
                <div class="col-6">
                    <label for="estadoCivil" class="form-label">Estado civil</label>
                    <select class="form-select" id="estadoCivil" name="estadoCivil" required>
                        <option value="" disabled selected>Selecione...</option>
                        <option value="Solteiro(a)">Solteiro(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Uniao estavel">União estável</option>
                        <option value="Viuvo(a)">Viúvo(a)</option>
                        <option value="Separado(a)">Separado(a)</option>
                    </select>
                </div>
            </div>

            <h5 class="text-black">II - GÊNERO</h5>
            <hr>

            <div class="row mb-3">
                <div class="col-6">
                    <label for="genero" class="form-label">Qual sua identidade de gênero?</label>
                    <select class="form-select" id="genero" name="genero" required>
                        <option value="" disabled selected>Selecione...</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="generoInput" class="form-label">Caso outro, qual?</label>
                    <input type="text" class="form-control" id="generoInput" name="generoInput" disabled>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="generoIdentifica" class="form-label">Com qual gênero você se identifica?</label>
                    <input type="text" class="form-control" id="generoIdentifica" name="generoIdentifica" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
                <div class="col-6">
                    <label for="pronomes" class="form-label">Com qual nome e/ou pronome você se identifica?</label>
                    <input type="text" class="form-control" id="pronomes" name="pronomes" maxlength="100" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                    <small>Exemplos para pronomes: ele/dele, ela/dela, ilu/dile, elu/delu, etc</small>
                </div>
            </div>

            <h5 class="text-black">III - ÉTNICA SOCIAL</h5>
            <hr>

            <div class="row mb-3">
                <div class="col-6">
                    <label for="etnia" class="form-label">Como você se identifica?</label>
                    <select class="form-select" id="etnia" name="etnia" required>
                        <option value="" disabled selected>Selecione...</option>
                        <option value="Preta">Preta</option>
                        <option value="Branca">Branca</option>
                        <option value="Indigena">Indígena</option>
                        <option value="Parda">Parda</option>
                        <option value="Amarela">Amarela</option>
                        <option value="Quilombola">Quilombola</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="etniaInput" class="form-label">Caso outro, qual?</label>
                    <input type="text" class="form-control" id="etniaInput" name="etniaInput" maxlength="100" disabled>
                </div>
            </div>

            <h5 class="text-black">IV - NECESSIDADES ESPECIAIS</h5>
            <hr>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="necessidadeEspecial"
                            name="necessidadeEspecial">
                        <label class="form-check-label" for="necessidadeEspecial">É portador de alguma necessidade
                            especial?</label>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseNecessidadeEspecial">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="necessidadeEspecialInput" class="form-label">Qual?</label>
                        <input type="text" class="form-control" id="necessidadeEspecialInput"
                            name="necessidadeEspecialInput">
                        <div class="invalid-feedback">
                            Este campo é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <p>CASO OCORRA ALGUMA EVENTUALIDADE NA ÁREA DE SAÚDE, INDIQUE UM TELEFONE DE CONTATO</p>
                    <div class="col-6">
                        <label for="contatoMedico" class="form-label">Médico</label>
                        <input type="text" class="form-control" id="contatoMedico" name="contatoMedico">
                        <div class="invalid-feedback">
                            Este campo é obrigatório.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="contatoFamiliar" class="form-label">Familiar</label>
                        <input type="text" class="form-control" id="contatoFamiliar" name="contatoFamiliar">
                        <div class="invalid-feedback">
                            Este campo é obrigatório.
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" class="form-control" id="tipo" name="tipo" value="{{tipo}}">

            <p>*Esses dados serão mantidos em sigilo. Serão usados para fortalecimento das políticas de inclusão social
                desenvolvido na UNIMONTES.</p>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    <!-- Fim formulário -->
    {% endblock %}
</body>

<!-- Aplicar hash aos scripts -->
<script src="{{url_for('static', filename = 'assets/bootstrap/js/bootstrap.min.js') | hash_url}}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

<script src="{{url_for('static', filename = 'grad/js/scriptsformulario.js') | hash_url}}"></script>

</html>