{% extends 'ppg/base.html' %} {% block title %}Rede de colaboração{% endblock %}
{% block content %}
<div class="mx-auto max-w-screen-2xl">
  <div class="pb-8">
    <h1 class="text-2xl font-extrabold text-indigo-500">Artigos dos PPGs</h1>
    <p class="text-sm text-zinc-700">Fonte: Lattes</p>
  </div>

  <div class="flex gap-4 items-end">
    <div class="flex flex-col gap-2">
      <label for="select-ano">Ano </label>
      <div class="relative">
        <select class="w-full pr-10" id="select-ano">
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-zinc-500">
          <svg class="lucide lucide-chevrons-up-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m7 15 5 5 5-5"></path>
            <path d="m7 9 5-5 5 5"></path>
          </svg>
        </div>
      </div>
    </div>
    <button
      class="rounded-lg border bg-indigo-400 px-6 py-3 text-sm font-bold text-zinc-50 hover:bg-indigo-500"
      id="btn-listar-artigos"
      type="button"
      aria-label="Listar artigos"
    >
      Listar artigos
    </button>
  </div>

  <div class="capitalize mt-8 overflow-x-auto text-zinc-700">
    <table class="w-full min-w-max table-auto">
      <thead>
        <tr class="border-y-2 border-y-gray-300">
          <th class="px-3 py-3.5 text-left font-semibold" scope="col">#</th>
          <th class="px-3 py-3.5 text-left font-semibold" scope="col">
            Título
          </th>
          <th class="px-3 py-3.5 text-left font-semibold" scope="col">
            Duplicado
          </th>
          <th class="px-3 py-3.5 text-left font-semibold" scope="col">PPGs</th>
        </tr>
      </thead>
      <tbody id="tbody-lista-artigos"></tbody>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<script
  src="{{ url_for('static', filename='ppg/js/artigosDocentes.js') | hash_url}}"
  type="module"
></script>
{% endblock %}
