{% extends 'ppg/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Toast -->
<div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

<div class="row p-4" style="font-size:12px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">



        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Programas-tab" data-bs-toggle="tab" data-bs-target="#Programas" type="button"
                role="tab" aria-controls="Programas" aria-selected="true">Programas</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Sobre-tab" data-bs-toggle="tab" data-bs-target="#Sobre" type="button"
                role="tab" aria-controls="Sobre" aria-selected="false">Rede de Colaboração</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Ranking-tab" data-bs-toggle="tab" data-bs-target="#Ranking" type="button"
                role="tab" aria-controls="Ranking" aria-selected="false">Ranking de docentes</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Artigos-tab" data-bs-toggle="tab" data-bs-target="#Artigos" type="button"
                role="tab" aria-controls="Artigos" aria-selected="false">Artigos dos docentes</button>
        </li>


    </ul>
</div>
<div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="Sobre" role="tabpanel" aria-labelledby="Sobre-tab">
            <div class="row">
                <div class="col-lg-6 mb-4" style="width: 100%;">
                    <div class="card" style="height: auto;">
                        <div class="card-header">
                            <h5 class="text-primary fw-bold mb-0">Rede de Colaboração dos PPGs</h5>
                        </div>
                        <div class="card-body" style="height: auto;width: auto;">
                            <p style="padding-top: 10px;">Apresenta os relacionamentos entre
                                coautores
                                da
                                universidade. Este grafo evidencia comunidades de parcerias entre
                                todos
                                os PPGs
                                e o grau de importância de cada docente (quanto maior o círculo,
                                mais
                                artigos
                                com coautorias).
                            </p>
                            <!-- <div class="slider-container mt-5">
                                                    <p>
                                                        <strong>Selecione um período:</strong>
                                                    </p>
                                                    <div class="row p-4">
                                                        <input type="text" id="slider-graph-index" class="slider">
                                                    </div>
                                                </div> -->
                            <div class="row" style="font-size:12px;">
                                <strong>Selecione um período:</strong>
                            </div>
                            <div class="row p-4" id="row-slider">
                                <input type="text" id="slider-graph-index" class="slider">
                            </div>
                            <div class="row py-4">
                                <div class="col-xl-4 col-lg-4 mt-2">
                                    <form>
                                        <div class="input-group" id="select-ppgs">
                                            <select id="select-type-product" class="form-select">
                                                <option label="Selecione um produto..."></option>
                                                <option value="APRESENTAÇÃO DE TRABALHO">
                                                    APRESENTAÇÃO DE
                                                    TRABALHO</option>
                                                <option value="ARTES VISUAIS">ARTES VISUAIS</option>
                                                <option value="ARTIGO EM JORNAL OU REVISTA">ARTIGO
                                                    EM
                                                    JORNAL OU REVISTA</option>
                                                <option value="ARTIGO EM PERIÓDICO" selected="">
                                                    ARTIGO
                                                    EM PERIÓDICO</option>
                                                <option value="CARTAS, MAPAS OU SIMILARES">CARTAS,
                                                    MAPAS
                                                    OU SIMILARES</option>
                                                <option value="CURSO DE CURTA DURAÇÃO">CURSO DE
                                                    CURTA
                                                    DURAÇÃO</option>
                                                <option value="DESENVOLVIMENTO DE APLICATIVO">
                                                    DESENVOLVIMENTO DE APLICATIVO</option>
                                                <option value="DESENVOLVIMENTO DE MATERIAL DIDÁTICO E INSTRUCIONAL">
                                                    DESENVOLVIMENTO DE MATERIAL DIDÁTICO E
                                                    INSTRUCIONAL
                                                </option>
                                                <option value="DESENVOLVIMENTO DE PRODUTO">
                                                    DESENVOLVIMENTO DE PRODUTO</option>
                                                <option value="DESENVOLVIMENTO DE TÉCNICA E SERVIÇOS TÉCNICOS">
                                                    DESENVOLVIMENTO DE TÉCNICA E SERVIÇOS TÉCNICOS
                                                </option>
                                                <option value="EDITORIA">EDITORIA</option>
                                                <option value="LIVRO">LIVRO</option>
                                                <option value="MÚSICA">MÚSICA</option>
                                                <option value="ORGANIZAÇÃO DE EVENTO">ORGANIZAÇÃO DE
                                                    EVENTO</option>
                                                <option value="OUTRA PRODUÇÃO CULTURAL">OUTRA
                                                    PRODUÇÃO
                                                    CULTURAL</option>
                                                <option value="PATENTE">PATENTE</option>
                                                <option value="PROGRAMA DE RÁDIO OU TV">PROGRAMA DE
                                                    RÁDIO OU TV</option>
                                                <option value="RELATÓRIO DE PESQUISA">RELATÓRIO DE
                                                    PESQUISA</option>
                                                <option value="TRABALHO EM ANAIS">TRABALHO EM ANAIS
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xl-4 col-lg-4 mt-2 py-2">
                                    <strong style="margin-right: 5%;">Fonte:</strong>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="fonteRadioOptions"
                                            id="fonteRadioSucupira" value="sucupira" checked>
                                        <label class="form-check-label" for="fonteRadioSucupira">Sucupira</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="fonteRadioOptions"
                                            id="fonteRadioLattes" value="lattes" disabled>
                                        <label class="form-check-label" for="fonteRadioLattes">Lattes</label>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 mt-2 py-2">
                                    <strong style="margin-right: 5%;">Tipo das Arestas:</strong>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="tipoRadioOptions"
                                            id="tipoRadioPPG" value="ppgs">
                                        <label class="form-check-label" for="tipoRadioPPG">PPGs</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="tipoRadioOptions"
                                            id="tipoRadioDocentes" value="docentes" checked>
                                        <label class="form-check-label" for="tipoRadioDocentes">Docentes</label>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-primary" type="button" id="graph-index-button">Gerar
                                        grafo</button>
                                </div>
                            </div>
                            <div class="row" id="row-graph-ppgs">
                                <div class="col-xl-2 col-lg-2">
                                    <div id="legend-graph" style="padding-top: 10px;"></div>
                                </div>
                                <div class="col-xl-10 col-lg-10">
                                    <div class="d-flex justify-content-center" id="links-graph">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="Programas" role="tabpanel" aria-labelledby="Programas-tab">
            <div class="row" id="row-programas">
                {% for prog in listaProgramas %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow" style="border-radius: 0%;">
                        <div style="min-height: 5px; background: #91b0d0"></div>
                        <div class="card-body">

                            <div class="card-title text-black">
                                <h6>{{prog.nome.upper()}}</h6>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p style="font-size:11px;">{{prog.area}}</p>
                                </div>
                                <div class="col text-end">
                                    Nota: {{prog.nota}}
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-auto" style="padding-bottom:2px;">
                                    <a class="btn btn-outline-primary btn-sm" role="button"
                                        href="{{url_for('principal.controller_ppg.ppgs', id_ppg=prog.id)}}"> Gráficos
                                    </a>
                                </div>
                                <div class="col-auto" style="padding-bottom:2px;">
                                    <a class="btn btn-outline-secondary btn-sm" role="button" href="#" 
                                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="EM BREVE - estamos implementando">Comparações</a>
                                </div>
                                <div class="col-auto" style="padding-bottom:2px;">
                                    <a class="btn btn-outline-success btn-sm" role="button" href="#"
                                    ata-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="EM BREVE - estamos implementando">Simulações</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="tab-pane fade" id="Ranking" role="tabpanel" aria-labelledby="Ranking-tab">
            <div class="row justify-content-center" id="row-Ranking">
                <div class="col-auto" style="width: 100%;">
                    <div class="card">

                        <div class="card-body">
                            <h5>Ranking de docentes vinculados aos PPGs</h5>
                            <p style="font-size:11px;">Fonte: Lattes</p>
                            <div class="card-title text-black">
                                <div class="table-responsive fs-6 fw-normal"
                                    style="padding: 24px;color: var(--bs-secondary-text-emphasis);width: auto;max-width: none;height: 100%;max-height: 100%;">
                                    <table class="table table-hover table-sm" style="font-size: 11px;">
                                        <thead style="width: 602.312px;">
                                            <tr style="width: 553.312px;">
                                                <th style="text-align: center;width: 9%;max-width: none;">
                                                    #</th>
                                                <th
                                                    style="text-align: left;padding-right: 12px;max-width: none;min-width: auto;">
                                                    Docente</th>
                                                <th style="text-align: center;max-width: none;">
                                                    # Art. Periódicos</th>
                                                <th style="text-align: center;max-width: none;">
                                                    # Art. Eventos</th>
                                                <th style="text-align: center;max-width: none;">
                                                    # Livros</th>
                                                <th style="text-align: center;max-width: none;">
                                                    # Cap. Livros</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-lista-profs" style="color: var(--bs-secondary-text-emphasis);">
                                            {% for prof in listaRanking %}
                                            <tr onclick="">
                                                <td style="text-align: center; vertical-align: middle;">{{loop.index}}
                                                </td>
                                                <td
                                                    style="text-align: left;padding-right: 12px; vertical-align: middle;">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto align-self-center">
                                                            <img class="border rounded-circle img-profile"
                                                                id="avatar-usuario"
                                                                src="{{listaRanking[prof]['avatar']}}"
                                                                style="width:40px; height:40px;" decoding="async"
                                                                loading="lazy" />
                                                        </div>
                                                        <div class="col-auto align-self-center">
                                                            <strong>{{listaRanking[prof]['nome'] | upper}}</strong>
                                                            <br><span style="font-size: 9px;margin-left: 15px;">Tipo de
                                                                vínculo com {{listaRanking[prof]['sigla_ies_vinculo']}}:
                                                                <strong>{{listaRanking[prof]['vinculo_ies']}}</strong></span>
                                                            <br><span style="font-size: 9px;margin-left: 15px;">Nome da
                                                                IES de Origem: <strong>{{listaRanking[prof]['ies'] |
                                                                    upper}}</strong></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    {% if 'ARTIGO-PUBLICADO' in listaRanking[prof]['produtos'] %}
                                                    {{listaRanking[prof]['produtos']['ARTIGO-PUBLICADO']}}
                                                    {% else %}
                                                    0
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    {% if 'TRABALHO-EM-EVENTOS' in listaRanking[prof]['produtos'] %}
                                                    {{listaRanking[prof]['produtos']['TRABALHO-EM-EVENTOS']}}
                                                    {% else %}
                                                    0
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    {% if 'LIVROS-PUBLICADOS-OU-ORGANIZADOS' in
                                                    listaRanking[prof]['produtos'] %}
                                                    {{listaRanking[prof]['produtos']['LIVROS-PUBLICADOS-OU-ORGANIZADOS']}}
                                                    {% else %}
                                                    0
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    {% if 'CAPITULOS-DE-LIVROS-PUBLICADOS' in
                                                    listaRanking[prof]['produtos'] %}
                                                    {{listaRanking[prof]['produtos']['CAPITULOS-DE-LIVROS-PUBLICADOS']}}
                                                    {% else %}
                                                    0
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="Artigos" role="tabpanel" aria-labelledby="Artigos-tab">
            <div class="row justify-content-center" id="row-Artigos">
                <div class="col-auto" style="width: 100%;">
                    <div class="card">

                        <div class="card-body">
                            <h5>Artigos dos PPGs</h5>
                            <p style="font-size:11px;">Fonte: Lattes</p>
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="form-group mb-2">
                                            <label for="inputAno" class="sr-only">Ano</label>
                                            <input type="text" class="form-control" id="inputAno" placeholder="Ano">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary mb-2"
                                            onclick="listar_artigos()">Listar artigos</button>
                                    </div>
                                    <div class="col-6" id="info_carregamento_artigos" style="height: 70px;">
                                        &nbsp;
                                    </div>
                                
                                </div>
                            <div class="card-title text-black">
                                <div class="table-responsive fs-6 fw-normal"
                                    style="padding: 24px;color: var(--bs-secondary-text-emphasis);width: auto;max-width: none;height: 100%;max-height: 100%;">
                                    <table class="table table-hover table-sm" style="font-size: 11px;">
                                        <thead style="width: 602.312px;">
                                            <tr style="width: 553.312px;">
                                                <th style="text-align: center;width: 9%;max-width: none;">
                                                    #</th>
                                                <th
                                                    style="text-align: left;padding-right: 12px;max-width: none;min-width: auto;">
                                                    Título</th>
                                                <th style="text-align: center;max-width: none;">
                                                    Duplicado?</th>
                                                <th style="text-align: center;max-width: none;">
                                                    PPGs</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-lista-artigos"
                                            style="color: var(--bs-secondary-text-emphasis);">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block modais %}{% endblock %}

{% block scripts %}
<script>const listaProgramas = {{ listaProgramas| tojson | safe}};</script>
<script src="{{ url_for('static', filename='ppg/js/scriptshome.js') | hash_url}}"></script>
{% endblock %}

</body>

</html>