{% extends 'ppg/base.html' %} {% block title %}Programas{% endblock %} {% block
content %}
<div class="mx-auto max-w-screen-2xl">
  <h1 class="pb-6 text-2xl font-extrabold text-indigo-500">Programas</h1>

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3" id="row-programas">
    {% for prog in listaProgramas %}
    <div
      class="grid rounded-xl border border-t-8 border-zinc-200 border-t-indigo-400 bg-white/70 px-8 py-6 shadow-shape backdrop-blur-xl"
    >
      <span class="text-sm font-bold text-amber-700">{{ prog.area }}</span>
      <h2 class="text-lg font-bold text-indigo-500">{{ prog.nome }}</h2>
      <p class="pt-2 text-zinc-700">Nota: {{ prog.nota }}</p>
      <button
        class="ml-auto block rounded-lg border border-indigo-500 px-6 py-3 text-sm font-bold text-indigo-500 hover:bg-indigo-500 hover:text-zinc-50"
      >
        <a
          href="{{ url_for('principal.controller_ppg_graficos.ppgs', id_ppg=prog.id) }}"
          class="block h-full w-full text-center"
        >
          Gráficos
        </a>
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block modais %} {% endblock %} {% block scripts %} {% endblock
%}
