{% extends 'ppg/base.html' %} {% block title %}Home{% endblock %} {% block
  content %}
  
  <div class="mx-auto max-w-screen-2xl">
    <div class="pb-8">
      <h1 class="text-2xl font-extrabold text-indigo-500">
        Ranking de docentes vinculados aos PPGs
      </h1>
      <p class="text-sm text-zinc-700">Fonte: Lattes</p>
    </div>
  
    <div class="flex flex-wrap items-end justify-between gap-x-8 gap-y-2">
      <div class="relative max-w-full flex-1 md:max-w-lg">
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-4 flex items-center text-zinc-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </svg>
          </div>
          <input
            class="w-full pl-12"
            id="input-busca-docente"
            type="text"
            placeholder="Procure um docente..."
          />
          <button
            class="absolute right-4 top-1/2 hidden -translate-y-1/2 transform px-0"
            id="btn-limpar"
          >
            <svg
              class="cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              fill="grey"
              height="20"
              viewBox="0 0 24 24"
            >
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="absolute mt-1 hidden max-h-52 w-full overflow-y-auto rounded-b-lg border border-gray-300 bg-white py-2 capitalize shadow-md md:w-[32rem]"
          id="resultados-busca"
        ></div>
      </div>
      <div class="flex flex-col gap-2">
        <label for="select-type-product">Selecione uma opção: </label>
        <div class="relative w-fit">
          <select class="uppercase" id="select-docentes-ies">
            <option>Todas as universidades...</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-zinc-500"
          >
            <svg
              class="lucide lucide-chevrons-up-down"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m7 15 5 5 5-5"></path>
              <path d="m7 9 5-5 5 5"></path>
            </svg>
          </div>
        </div>
      </div>
  
      <button
        class="flex items-center gap-2 rounded-lg bg-indigo-400 px-6 py-3 text-sm font-bold text-zinc-50 hover:bg-indigo-500"
        id="btn-pesquisar-docente"
        type="button"
      >
        Buscar docente
      </button>
    </div>
  
    <div class="mt-8 overflow-x-auto text-zinc-700">
      <p class="mt-5 pb-2 text-sm text-amber-700">
        Clique no cabeçalho de cada coluna para ordenar os resultados
      </p>
  
      <table class="w-full table-auto" id="tabela-docentes">
        <thead>
          <tr class="border-y-2 border-y-gray-300">
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold"
              scope="col"
            >
              #
              <button class="px-1"><span> </span></button>
            </th>
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold"
              scope="col"
            >
              Docente
              <button class="px-1"><span> </span></button>
            </th>
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold desc"
              scope="col"
            >
              Art. Periódicos
              <button class="px-1"><span> &#x25be; </span></button>
            </th>
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold"
              scope="col"
            >
              Art. Eventos
              <button class="px-1"><span> </span></button>
            </th>
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold"
              scope="col"
            >
              Livros
              <button class="px-1"><span> </span></button>
            </th>
            <th
              class="cursor-pointer px-3 py-3.5 text-left font-semibold"
              scope="col"
            >
              Cap. Livros
              <button class="px-1"><span> </span></button>
            </th>
          </tr>
        </thead>
  
        <tbody id="tbody-lista-profs">
          {% for prof in listaRanking %}
          <tr class="border-b border-b-gray-300" onclick>
            <td class="px-3 py-3.5">{{loop.index}}</td>
            <td class="px-3 py-3.5">
              <div class="flex items-center gap-4">
                <div>
                  <img
                    alt=""
                    role="presentation"
                    class="h-11 w-11 rounded-full"
                    id="avatar-usuario"
                    src="{{listaRanking[prof]['avatar']}}"
                    decoding="async"
                    loading="lazy"
                  />
                </div>
                <div>
                  <span class="font-medium capitalize"
                    >{{listaRanking[prof]['nome'] | capitalize }}</span
                  >
                  <br />Tipo de vínculo com
                  {{listaRanking[prof]['sigla_ies_vinculo']}}:
                  {{listaRanking[prof]['vinculo_ies']}}
                  <br />
                  Nome da IES de Origem:
                  <span class="font-medium capitalize">
                    {{listaRanking[prof]['ies'] | capitalize}}
                  </span>
                </div>
              </div>
            </td>
            <td class="px-3 py-3.5 text-zinc-700">
              {% if 'ARTIGO-PUBLICADO' in listaRanking[prof]['produtos'] %}
              {{listaRanking[prof]['produtos']['ARTIGO-PUBLICADO']}} {% else %} 0
              {% endif %}
            </td>
            <td class="px-3 py-3.5 text-zinc-700">
              {% if 'TRABALHO-EM-EVENTOS' in listaRanking[prof]['produtos'] %}
              {{listaRanking[prof]['produtos']['TRABALHO-EM-EVENTOS']}} {% else %}
              0 {% endif %}
            </td>
            <td class="px-3 py-3.5 text-zinc-700">
              {% if 'LIVROS-PUBLICADOS-OU-ORGANIZADOS' in
              listaRanking[prof]['produtos'] %}
              {{listaRanking[prof]['produtos']['LIVROS-PUBLICADOS-OU-ORGANIZADOS']}}
              {% else %} 0 {% endif %}
            </td>
            <td class="px-3 py-3.5 text-zinc-700">
              {% if 'CAPITULOS-DE-LIVROS-PUBLICADOS' in
              listaRanking[prof]['produtos'] %}
              {{listaRanking[prof]['produtos']['CAPITULOS-DE-LIVROS-PUBLICADOS']}}
              {% else %} 0 {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  {% endblock %} {% block scripts %}
  <!-- <script>const listaProgramas = {{ listaProgramas| tojson | safe}};</script> -->
  <script>
    const listaRanking = {{ listaRanking| tojson | safe}};
  </script>
  <!-- <script type="module" src="{{ url_for('static', filename='ppg/js/scriptshome.js') | hash_url}}"></script> -->
  <script
    src="{{ url_for('static', filename='ppg/js/rankingDocentes.js') | hash_url}}"
    type="module"
  ></script>
  {% endblock %}
  