@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller {
  scrollbar-width: thin;
  scrollbar-color: rgb(210, 219, 238) rgb(229 231 235);
}

.scroller::-webkit-scrollbar {
  width: 15px;
}

.scroller::-webkit-scrollbar-track {
  background: rgb(105, 146, 227);
  border-radius: 5px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(229 231 235);
  border-radius: 14px;
  border: 3px solid rgb(105, 146, 227);
}

input {
  @apply placeholder-zinc-600 px-4 py-3 w-full text-zinc-500 rounded-lg border border-gray-300 focus:outline-none focus:ring-1 focus:border-indigo-500 focus:ring-indigo-500
}

select {
  @apply px-4 py-3 text-zinc-500 rounded-lg border border-gray-300 bg-white appearance-none focus:outline-none focus:ring-1 focus:border-indigo-500 focus:ring-indigo-500
}

label {
  @apply text-sm text-zinc-700 font-bold
}
