<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> -->

    <title>{% block title %}{% endblock %} - Sistema Tarrafa</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon/favicon_tarrafa.ico')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Nunito.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/legend.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/rSlider.min.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/waitMe.css') | hash_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') | hash_url }}">
    <style>
        #fixedDiv {
            position: fixed;
            /* Set the position to fixed */
            top: 240px;
            /* Stick to the top of the viewport */
            left: -100px;
            /* Stick to the left of the viewport */
            width: 500px;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            background: #2b2d60;
            color: var(--bs-body-bg);
            transform: rotate(-46deg);
            transform-origin: 0 0;
            /* Set the transform origin to the top-left corner */
        }
    </style>
</head>

<body id="page-top">

    <!--div id="fixedDiv">
        <span style="font-family: Nunito, sans-serif; padding-left: 50px;">Versão Beta</span>
    </div-->
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <nav class="navbar navbar-expand fixed-top bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid">
                        <a href="#" onclick="selectIndex(this)"><img src="{{ url_for('static', filename='assets/img/icons/logo_tarrafa_text.png')}}"
                                alt="home" height="37" decoding="async" loading="lazy" ></a>
                        <h6 style="color:#93a3d2;padding-top: 7px;">{{nome | upper}}</h6>
                        <ul class="navbar-nav ml-auto">
                            <!--li class="nav-item m-auto">
                                <select id="list-programs" class="form-select" onChange="selectPPG(this);"></select>
                            </li-->
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item m-auto">
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#">
                                        <!-- <span class="d-none d-lg-inline me-2 text-gray-600 small"
                                            id="nome-usuario">{{current_user.full_name}}</span> -->
                                        <!-- <img class="border rounded-circle img-profile" id="avatar-usuario"
                                            src="{{avatar}}" decoding="async" loading="lazy" /> -->
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <div id="menu">
                                            <a class="dropdown-item" href="#" onclick="selectIndex(this)"><i
                                                    class="fa fa-home fa-sm fa-fw me-2 text-gray-400"></i> Início</a>
                                            <div class="dropdown-divider"></div>
                                            {% if current_user.is_superuser %}
                                            <a class="dropdown-item" href="logs.html"><i
                                                    class="fas fa-clock fa-sm fa-fw me-2 text-gray-400"></i>Logs</a>
                                            <a class="dropdown-item" href="popups.html"><i
                                                    class="fas fa-window-restore fa-sm fa-fw me-2 text-gray-400"></i>Pop-Ups</a>
                                            {% endif %}

                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>




                <div class="container-fluid" style="margin-top: 80px;">

                    {% block content %}{% endblock %}

                    <footer class="bg-white sticky-footer">
                        <div class="container my-auto">
                            <div class="text-center my-auto copyright"><span>Copyright © Sistema Tarrafa
                                    2023</span>
                            </div>
                        </div>
                    </footer>

                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i
                        class="fas fa-angle-up"></i></a>
            </div>
        </div>
    </div>


    {% block modais %}{% endblock %}

    <!-- Script SheetJS para exportar em .xlsx -->
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') | hash_url}}"></script>
    <script src="https://unpkg.com/default-passive-events"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
    <script src="https://unpkg.com/d3-array@1"></script>
    <script src="https://unpkg.com/d3-collection@1"></script>
    <script src="https://unpkg.com/d3-path@1"></script>
    <script src="https://unpkg.com/d3-shape@1"></script>
    <script src="https://unpkg.com/d3-sankey@0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <script src="{{ url_for('static', filename='assets/js/theme.js') | hash_url}}"></script>
    <script src="{{ url_for('static', filename='assets/js/rSlider.min.js') | hash_url}}"></script>
    <script src="{{ url_for('static', filename='assets/js/waitMe.js') | hash_url}}"></script>
        <script>
        axios.defaults.baseURL = '{{config.FRONTEND_HOST}}';
    </script>

    <script src="{{ url_for('static', filename='assets/js/functions.js') | hash_url}}"></script>

    <!-- aqui ficam os scripts de cada página -->
    {% block scripts %}{% endblock %}

</body>

</html>