{% extends "ppgls/base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="row">
{% for curso in cursos %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow" style="border-radius: 0%;">
            <div style="min-height: 5px; background: #91b0d0"></div>
            <div class="card-body">
                <div class="card-title text-black">
                    <h6>{{curso[1]}}</h6>
                </div>
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <p style="font-size:11px;">{{curso[2]}}</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-size:11px;">{{curso[0]}}</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto" style="padding-bottom:2px;">
                        <a class="btn btn-outline-primary btn-sm" role="button"
                            href="{{url_for('principal.controller_ppgls.curso', id=curso[0])}}"> Gráficos
                        </a>
                    </div>
                    <div class="col-auto" style="padding-bottom:2px;">
                        <a class="btn btn-outline-secondary btn-sm" role="button" href="#">Comparações</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endfor %}
</div>

{% endblock %}